body {
  text-align: center;
}
.red{
  color:red;
}
.bold{
  font-weight: bolder;
}

/*.button:active{
  background-color: red;
}
.button{
  background-color: green;
}
.button:hover{
  background-color: skyblue;
}*/